


#header {
background : url("iut.jpeg") center center no-repeat;background-size:300px; font-size : 2.5rem;
	}
html{font-size : 100%;}
body{
font-size : 1.6rem;
background: url("bg.jpg") no-repeat;
background-size: cover;
color:yellow;
}

#content{font-size: 0.5em}



table
{
    border: 1px solid silver;
}
td,th
{
    border: 1px solid grey;
}
th{background-color: silver;}

@media only screen and (max-width: 420px) { /* version mobile */  

	
#content img{width:100%;}
#header {background : url("iut.jpg")}
  table,tbody,tr,td,th{
    display: block;
    width:100%;
    border:none;
    text-align:center;
  }
table,th{border:1px solid black;}
}


@media screen and (max-width: 800px) {   /* version tablette */

#content img{width:100%;}


}
